
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sudo wakeonlan 00:23:ae:80:6b:7d
Name=Startup
Comment=Engegar totes les màquines
Icon=/home/jose/Escritorio/AulaLinux/Shortcut/Icono Shortcuts/applications-toys.png
Name[es_ES]=EngegaServer
