
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sudo parallel-ssh -h /root/pssh_hosts "source /usr/bin/messages.sh 2 &"
Name=Shutdown
Comment=Atura tots els PC's
Icon=/home/jose/Escritorio/AulaLinux/Shortcut/Icono Shortcuts/user-identity.png
Name[es_ES]=Missatge silenci
